* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(222, 222, 222);
  background: black;
  margin: 0;
  padding: 0;
}

.main {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 175px 1fr;
  height: 99vh;
}

.sidebar {
  border: 1px solid red;
}

.content {
  border: 1px solid cyan;
}
